@{
    ViewData["Title"] = "View Items";
}


<h2>Items</h2>

<div class="list-group">
    <div class="list-group-item">Smör</div>
    <div class="list-group-item">Bröd</div>
    <div class="list-group-item">Ost</div>
    <div class="list-group-item">Fisk</div>
    <div class="list-group-item">Bananer</div>
</div>

