@{
    ViewData["Title"] = "View Stores";
}


<h2>Stores</h2>

<div class="list-group">
    <div class="list-group-item">Ica Maxi</div>
    <div class="list-group-item">Coop Valla</div>
    <div class="list-group-item">Statoil</div>
    <div class="list-group-item">Systembolaget</div>
    <div class="list-group-item">City Gross</div>
</div>