artifacts/*
src/ShoppingList/bin/*
src/ShoppingList/obj/*
src/ShoppingList/project.lock.json
test/ShoppingListTest/obj/*
test/ShoppingListTest/bin/*
test/ShoppingListTest/project.lock.json
.vs/*
*.suo
src/SLApp/SLApp.Android/bin/*
src/SLApp/SLApp.Android/obj/*
davidAtBraavos
.vs/*