artifacts/*
src/ShoppingList.Client/bin/*
src/ShoppingList.Client/obj/*
src/ShoppingList.Server/bin/*
src/ShoppingList.Server/obj/*
src/ShoppingList.Shared/obj/*
src/ShoppingList.Shared/bin/*




*\obj\*
src/ShoppingList/project.lock.json
.vs/*
*.suo
src/SLApp/SLApp.Android/bin/*
src/SLApp/SLApp.Android/obj/*
davidAtBraavos
.vs/*
