@model List<ShoppingList.Models.Store>
@{
    ViewData["Title"] = "View Stores";
}

<h1>
    <span class="label label-default">Stores</span>
</h1>

@foreach (var item in Model) {
    <div class="list-group-item">@Html.DisplayFor(modelItem => item.Name)</div>
}