@{
    ViewData["Title"] = "View Shopping Lists";
}


<h1>
    <span class="label label-default">Edit Shopping List</span>
</h1>

<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Store<span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li><a href="#">Ica Maxi</a></li>
        <li><a href="#">Coop Valla</a></li>
        <li><a href="#">Hemköp</a></li>
    </ul>
</div>

<div class="list-group">
    <a href="#" class="list-group-item">Smör</a>
    <a href="#" class="list-group-item">Bröd</a>
    <a href="#" class="list-group-item">Ost</a>
</div>

