@{
    ViewData["Title"] = "View Shopping Lists";
}


<h2>Shop</h2>

<h1>
    <span class="label label-default">Ica Maxi</span>
</h1>

<div class="list-group">
    <a href="#" class="list-group-item">Smör</a>
    <a href="#" class="list-group-item">Bröd</a>
    <a href="#" class="list-group-item">Ost</a>
    <a href="#" class="list-group-item">Fisk</a>
    <a href="#" class="list-group-item">Bananer</a>
</div>

