@model ShoppingList.Models.ShoppingList
@{
    ViewData["Title"] = "Go Shopping";
}


<h2>Shop</h2>

<h1>
    <span class="label label-default">@Html.DisplayFor(modelItem => Model.ShortDescription)</span>
</h1>

<div class="list-group">
    @foreach (var item in Model.Items) {
        <div class="list-group-item">
            <input type="checkbox">@Html.DisplayFor(modelItem => item.Name)<br>
        </div>
    }
</div>
