@{
    ViewData["Title"] = "View Shopping Lists";
}


<h2>Shopping Lists</h2>

<div class="list-group">
    <a class="list-group-item" asp-controller="ShoppingList" asp-action="EditShoppingList">New...</a>
    <a class="list-group-item" asp-controller="ShoppingList" asp-action="GoShopping">2015-03-04 at Ica maxi</a>
    <a class="list-group-item" asp-controller="ShoppingList" asp-action="GoShopping">2014-06-02 at Coop Valla</a>
    @*<div class="list-group-item">
        <div class="row">
            <div class="col-sm-4">2015-03-04 at Ica maxi</div>
            <div class="col-sm-4"><a class="list-group-item" asp-controller="ShoppingList" asp-action="EditShoppingList">Edit...</a></div>
            <div class="col-sm-4"><a class="list-group-item" asp-controller="ShoppingList" asp-action="GoShopping">Shop...</a></div>
        </div>        
    </div>
    <div class="list-group-item">
        <div class="row">
            <div class="col-sm-4">2014-06-02 at Coop Valla</div>
            <div class="col-sm-4"><a class="list-group-item" asp-controller="ShoppingList" asp-action="EditShoppingList">Edit...</a></div>
            <div class="col-sm-4"><a class="list-group-item" asp-controller="ShoppingList" asp-action="GoShopping">Shop...</a></div>
        </div>
    </div>*@
</div>

