@model List<ShoppingList.Models.ShoppingList>
@{
    ViewData["Title"] = "View Shopping Lists";
}


<h1>
    <span class="label label-default">Shopping Lists</span>
</h1>

<div class="list-group">
    <a class="list-group-item" asp-controller="ShoppingList" asp-action="CreateShoppingList">New...</a>

@foreach (var item in Model) {
    <a class="list-group-item" asp-controller="ShoppingList" asp-action="GoShopping" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.LongDescription)</a>
}

</div>

