@model List<string>
@{
    ViewData["Title"] = "View Items";
}

<h1>
    <span class="label label-default">Items</span>
</h1>

@foreach (var item in Model) {
    <div class="list-group-item">@Html.DisplayFor(modelItem => item)</div>
        @*<td>
            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
        </td>*@
}
