<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Shopping List</title>

        <!-- framework -->
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />

        <!-- libs -->
        <link href="~/lib/awesome/awesome-bootstrap-checkbox.css" rel="stylesheet"/>
        <script src="~/lib/moment/moment.js"></script>

        <link href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
        <script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>

        <!-- site -->
        <link rel="stylesheet" href="~/css/site.css" />
        <script src="~/js/site.js" asp-append-version="true"></script>

    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-controller="ShoppingList" asp-action="ViewShoppingLists" class="navbar-brand">Shopping Lists</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-controller="Stores" asp-action="ViewStores">Stores</a></li>
                        <li><a asp-controller="Items" asp-action="ViewItems">Items</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; 2016 - Shopping List</p>
            </footer>
        </div>






        @RenderSection("scripts", required: false)
    </body>
</html>
