@using System.Reflection
@using ShoppingList
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Listeria</title>

    <!-- framework -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/typeahead.js/dist/typeahead.bundle.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>

    <!-- site -->
    <link rel="stylesheet" href="~/css/site.css"/>
    <script src="~/js/site.js" asp-append-version="true"></script>

</head>

<!-- Navbar -->
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-controller="ShoppingList" asp-action="Start" class="navbar-brand">Start</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a asp-controller="ShoppingList" asp-action="ViewShoppingLists">Lists</a></li>
                <li><a asp-controller="Stores" asp-action="ViewStores">Stores</a></li>
                <li><a asp-controller="Settings" asp-action="EditSettings">Settings</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- Body content -->
<div class="container body-content">
    @RenderBody()
</div>


<!-- Footer -->
<div class="container">
    <hr style="border-color: gray"/>

    <footer>
        <p style="font-size: 12px">
            Version: @typeof(Startup).GetTypeInfo().Assembly.GetName().Version <br />
            Source: <a href="https://github.com/DavidRundqvist/ShoppingList.git">https://github.com/DavidRundqvist/ShoppingList.git</a>
        </p>
    </footer>
</div>


@RenderSection("scripts", required: false)
</body>
</html>
